.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	margin-bottom: 28px;
	max-width: 1135px;

	> a {
		color: rgb(16, 16, 16);
		font-size: 25px;
		font-weight: 700;
		line-height: 30px;
		text-decoration: none;
	}

	> div {
		display: flex;
		align-items: center;
	}
}
